flows_techbase.json
[{"id":"398aec6e.04b414","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"8c8ca54c.435358","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"e7d48de3.0e636","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"48948ff.350507","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"839f607b.bc96","type":"subflow","name":"BufferTest","info":"","category":"","in":[{"x":280,"y":420,"wires":[{"id":"5a2fbd4c.fd3a4c"}]}],"out":[{"x":1220,"y":320,"wires":[{"id":"226402ed.9d97fe","port":0}]},{"x":1060,"y":240,"wires":[{"id":"86aabd03.7ac0f","port":0}]},{"x":740,"y":520,"wires":[{"id":"96fd6695.c1b558","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e5520d9f.1361b","type":"subflow","name":"buffering","info":"","category":"","in":[{"x":138.03573322296143,"y":104.46429824829102,"wires":[{"id":"3a28172d.f3bda8"}]}],"out":[{"x":1104.2857780456543,"y":114.28573036193848,"wires":[{"id":"372b61d6.eeba8e","port":0},{"id":"3a28172d.f3bda8","port":1}]}]},{"id":"d5c1c615.c46798","type":"modbusSerialConfig","z":"","port":"/dev/ttyAMA0","baud":"9600","data":"8","parity":"none","stop":"1","name":"COM 4"},{"id":"c5f49f3b.29956","type":"modbus-client","z":"","name":"COM 4","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyAMA0","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"abecf212.ea3ae8","type":"modbus-client","z":"","name":"COM 3","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttySC0","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"100","parallelUnitIdsAllowed":true},{"id":"2b56fb2c.ee8a04","type":"mqtt-broker","z":"","name":"","broker":"3.81.179.172","port":"15488","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"13a597a2.a6fac8","type":"modbusSerialConfig","z":"e7d48de3.0e636","port":"/dev/ttySC0","baud":"9600","data":"8","parity":"none","stop":"1","name":"COM 3"},{"id":"aa68ed65.cc15d","type":"modbusSerialConfig","z":"398aec6e.04b414","port":"/dev/ttySC0","baud":"9600","data":"8","parity":"none","stop":"1","name":"COM 3"},{"id":"4eae3a13.670c84","type":"mqtt-broker","z":"","name":"mqtt","broker":"m16.cloudmqtt.com","port":"15488","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"424187e.54ccd78","type":"modbus-client","z":"","name":"modberry","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyS1","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"33579c22.083e14","type":"mqtt-broker","z":"","name":"","broker":"synbiot.online","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d21fc88b.534dc","type":"mqtt out","z":"398aec6e.04b414","name":"","topic":"4data_buffer","qos":"","retain":"","broker":"2b56fb2c.ee8a04","x":1310,"y":220,"wires":[]},{"id":"f06dad84.f5e39","type":"inject","z":"398aec6e.04b414","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["207fd118.c27d96"]]},{"id":"ec76b0d2.959798","type":"split","z":"398aec6e.04b414","name":"","splt":"*","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":730,"y":200,"wires":[["35be7898.b70958"]]},{"id":"35be7898.b70958","type":"join","z":"398aec6e.04b414","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":200,"wires":[["927d1d85.e4b6f8"]]},{"id":"927d1d85.e4b6f8","type":"function","z":"398aec6e.04b414","name":"array to json","func":"msg.payload=\n{\n    \"V\":msg.payload[0],\n    \"I\":msg.payload[1],\n    \"P\":msg.payload[2],\n    \"Q\":msg.payload[3],\n    \"S\":msg.payload[4],\n    \"time\":msg.payload[5]\n}\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":200,"wires":[["d21fc88b.534dc"]]},{"id":"ba727bb6.445cc8","type":"file","z":"398aec6e.04b414","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":650,"y":440,"wires":[[]]},{"id":"ed353469.b90518","type":"file","z":"398aec6e.04b414","name":"","filename":"/home/user/simpan.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":900,"y":120,"wires":[[]]},{"id":"6d4375bf.e158d4","type":"file in","z":"398aec6e.04b414","name":"","filename":"/home/user/simpan.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":460,"y":360,"wires":[["7f39894d.7917a"]]},{"id":"861893da.5c4a4","type":"change","z":"398aec6e.04b414","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"/home/user/simpan.txt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":440,"wires":[["ba727bb6.445cc8"]]},{"id":"5a2fbd4c.fd3a4c","type":"switch","z":"839f607b.bc96","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"payload","vt":"str"},{"t":"eq","v":"keepalive","vt":"str"},{"t":"eq","v":"deletebuffer","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":420,"wires":[["e672f31e.0eda08"],["7fb16449.783ba4","96fd6695.c1b558"],[]]},{"id":"7d19cb43.fe12c4","type":"subflow:839f607b.bc96","z":"8c8ca54c.435358","name":"","env":[],"x":680,"y":140,"wires":[["7ecd9af3.bc180c","329fd6be.df8a8a"],[],[]]},{"id":"a95c3d85.31d718","type":"file","z":"8c8ca54c.435358","name":"","filename":"/home/user/simpan.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":940,"y":260,"wires":[[]]},{"id":"b64758e8.db17e","type":"file","z":"8c8ca54c.435358","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1160,"y":320,"wires":[[]]},{"id":"4213632a.e2bb0c","type":"change","z":"8c8ca54c.435358","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"/home/user/simpan.txt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":320,"wires":[["b64758e8.db17e"]]},{"id":"329fd6be.df8a8a","type":"mqtt out","z":"8c8ca54c.435358","name":"","topic":"4data_buffer","qos":"","retain":"","broker":"2b56fb2c.ee8a04","x":910,"y":200,"wires":[]},{"id":"a19cbb3.aa2c5c8","type":"mqtt in","z":"8c8ca54c.435358","name":"","topic":"sendbuffer","qos":"2","datatype":"auto","broker":"2b56fb2c.ee8a04","x":460,"y":160,"wires":[["7d19cb43.fe12c4"]]},{"id":"46528861.817be8","type":"mqtt in","z":"8c8ca54c.435358","name":"","topic":"deletebuffer","qos":"2","datatype":"auto","broker":"2b56fb2c.ee8a04","x":450,"y":220,"wires":[["7d19cb43.fe12c4"]]},{"id":"926993f9.76d8","type":"inject","z":"8c8ca54c.435358","name":"","topic":"payload","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":100,"wires":[["85abc604.174778"]]},{"id":"85abc604.174778","type":"random","z":"8c8ca54c.435358","name":"","low":"80","high":"100","inte":"true","property":"payload","x":460,"y":100,"wires":[["7d19cb43.fe12c4"]]},{"id":"7ecd9af3.bc180c","type":"debug","z":"8c8ca54c.435358","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":120,"wires":[]},{"id":"207fd118.c27d96","type":"function","z":"398aec6e.04b414","name":"","func":"var timestamp= Date.now();\nmsg.payload=\n{\n    \"V\":Math.round(Math.random()*100),\n    \"I\":Math.round(Math.random()*100),\n    \"P\":Math.round(Math.random()*100),\n    \"Q\":Math.round(Math.random()*100),\n    \"S\":Math.round(Math.random()*100),\n    \"time\":timestamp\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["9fb890ca.306d88"]]},{"id":"9fb890ca.306d88","type":"json","z":"398aec6e.04b414","name":"","property":"payload","action":"obj","pretty":true,"x":510,"y":120,"wires":[["ec76b0d2.959798","8fd7948d.fcfa7"]]},{"id":"7f39894d.7917a","type":"json","z":"398aec6e.04b414","name":"","property":"payload","action":"obj","pretty":true,"x":670,"y":360,"wires":[["ec76b0d2.959798"]]},{"id":"f9c43a38.acbb98","type":"mqtt in","z":"398aec6e.04b414","name":"","topic":"sendbuffer","qos":"2","datatype":"auto","broker":"2b56fb2c.ee8a04","x":180,"y":360,"wires":[["6d4375bf.e158d4"]]},{"id":"98ed6ae4.40634","type":"mqtt in","z":"398aec6e.04b414","name":"","topic":"deletebuffer","qos":"2","datatype":"auto","broker":"2b56fb2c.ee8a04","x":190,"y":440,"wires":[["861893da.5c4a4"]]},{"id":"8fd7948d.fcfa7","type":"is online","z":"398aec6e.04b414","name":"is offline","url":"","action":"2","x":680,"y":120,"wires":[["ed353469.b90518"]]},{"id":"e672f31e.0eda08","type":"json","z":"839f607b.bc96","name":"","property":"payload","action":"obj","pretty":true,"x":710,"y":240,"wires":[["78dfe5c8.2746c4","86aabd03.7ac0f"]]},{"id":"78dfe5c8.2746c4","type":"split","z":"839f607b.bc96","name":"","splt":"*","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":930,"y":320,"wires":[["226402ed.9d97fe"]]},{"id":"226402ed.9d97fe","type":"join","z":"839f607b.bc96","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":320,"wires":[[]]},{"id":"7fb16449.783ba4","type":"json","z":"839f607b.bc96","name":"","property":"payload","action":"obj","pretty":true,"x":710,"y":320,"wires":[["78dfe5c8.2746c4"]]},{"id":"86aabd03.7ac0f","type":"is online","z":"839f607b.bc96","name":"is offline","url":"","action":"2","x":900,"y":240,"wires":[[]]},{"id":"70847852.76f04","type":"mqtt out","z":"e7d48de3.0e636","name":"","topic":"4data_buffer","qos":"","retain":"","broker":"2b56fb2c.ee8a04","x":1150,"y":120,"wires":[]},{"id":"55fc1db2.46a6e4","type":"function","z":"e7d48de3.0e636","name":"array to json","func":"msg.payload=\n{\n    \"V\":msg.payload[0],\n    \"I\":msg.payload[1],\n    \"P\":msg.payload[2],\n    \"Q\":msg.payload[3],\n    \"S\":msg.payload[4],\n    \"time\":msg.payload[5]\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":120,"wires":[["70847852.76f04"]]},{"id":"940d69f4.54be9","type":"file","z":"e7d48de3.0e636","name":"","filename":"/home/user/simpan.txt","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1000,"y":200,"wires":[[]]},{"id":"42ca4dfc.e40e64","type":"file","z":"e7d48de3.0e636","name":"","filename":"/home/user/simpan.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":980,"y":160,"wires":[[]]},{"id":"b8cc4924.782e88","type":"file in","z":"e7d48de3.0e636","name":"","filename":"/home/user/simpan.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":520,"y":180,"wires":[["edbc8d4b.e87448"]]},{"id":"edbc8d4b.e87448","type":"subflow:839f607b.bc96","z":"e7d48de3.0e636","name":"","env":[],"x":750,"y":160,"wires":[[],["42ca4dfc.e40e64"],["940d69f4.54be9"]]},{"id":"96fd6695.c1b558","type":"delay","z":"839f607b.bc96","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":480,"wires":[[]]},{"id":"982f3979.5d8448","type":"mqtt out","z":"e7d48de3.0e636","name":"","topic":"keepalive","qos":"","retain":"","broker":"2b56fb2c.ee8a04","x":560,"y":80,"wires":[]},{"id":"25fe4fbc.f40138","type":"mqtt in","z":"e7d48de3.0e636","name":"","topic":"keepalive","qos":"2","datatype":"auto","broker":"2b56fb2c.ee8a04","x":200,"y":180,"wires":[["741d0095.af5708"]]},{"id":"741d0095.af5708","type":"delay","z":"e7d48de3.0e636","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":180,"wires":[["b8cc4924.782e88"]]},{"id":"1d97392a.fec5c7","type":"debug","z":"e7d48de3.0e636","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":360,"wires":[]},{"id":"bc681564.f911c8","type":"modbusSerial in","z":"e7d48de3.0e636","port":"d5c1c615.c46798","slaves":"1","start":"3019","count":"12","dtype":"holding","period":"3","topic":"","name":"","x":220,"y":340,"wires":[["42474bc8.2e2764"]]},{"id":"42474bc8.2e2764","type":"function","z":"e7d48de3.0e636","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i < 24); //2 buffer byte per var\n\nmsg.payload = {\n    \"v12\":a[0],\n    \"v23\":a[1],\n    \"v13\":a[2],\n    \"vavg\":a[3],\n    \"v1n\":a[4],\n    \"v2n\":a[5],\n    //\"v3n\":a[6],\n    //\"vlnavg\":a[7]\n};\n\nflow.set(\"v12\", a[0]);\nflow.set(\"v23\", a[1]);\nflow.set(\"v13\", a[2]);\nflow.set(\"vavg\", a[3]);\nflow.set(\"v1n\", a[4]);\nflow.set(\"v2n\", a[5]);\n//flow.set(\"v3n\", a[6]);\n//flow.set(\"vlnavg\", a[7]);\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["1d97392a.fec5c7"]]},{"id":"dc972a45.938098","type":"modbusSerial in","z":"e7d48de3.0e636","port":"d5c1c615.c46798","slaves":"1","start":"3104","count":"4","dtype":"holding","period":"3","topic":"","name":"","x":220,"y":380,"wires":[["ae214062.34bc3"]]},{"id":"ae214062.34bc3","type":"function","z":"e7d48de3.0e636","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i <4); //2 buffer byte per var\n\nmsg.payload = {\n    \"f\":a[0]\n};\n\nflow.set(\"f\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[[]]},{"id":"a89aabc4.78bf28","type":"split","z":"e5520d9f.1361b","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":663.2143745422363,"y":145.1071319580078,"wires":[["2ac858a7.a65878"]]},{"id":"3a28172d.f3bda8","type":"switch","z":"e5520d9f.1361b","name":"off_ke1_on_ke2","property":"connection","propertyType":"flow","rules":[{"t":"eq","v":"false","vt":"jsonata"},{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":292.3214511871338,"y":105.89286613464355,"wires":[["e7f186ea.9ef518"],["b585cad1.02e5b8"]]},{"id":"e7f186ea.9ef518","type":"file","z":"e5520d9f.1361b","name":"","filename":"temp_buffer.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":512.8215942382812,"y":79.28571516275406,"wires":[[]]},{"id":"b585cad1.02e5b8","type":"file in","z":"e5520d9f.1361b","name":"","filename":"temp_buffer.csv","format":"utf8","chunk":false,"sendError":false,"x":511.0000686645508,"y":146.14284944534302,"wires":[["a89aabc4.78bf28"]]},{"id":"8f5151ba.bb17d","type":"file","z":"e5520d9f.1361b","name":"","filename":"temp_buffer.csv","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":1179.880844116211,"y":206.13097763061523,"wires":[[]]},{"id":"f6f1a598.5355c8","type":"trigger","z":"e5520d9f.1361b","op1":"","op2":"","op1type":"nul","op2type":"date","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":994.5716094970703,"y":203.2024564743042,"wires":[["8f5151ba.bb17d"]]},{"id":"2ac858a7.a65878","type":"delay","z":"e5520d9f.1361b","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":811.4167709350586,"y":144.44054222106934,"wires":[["f6f1a598.5355c8","372b61d6.eeba8e"]]},{"id":"372b61d6.eeba8e","type":"json","z":"e5520d9f.1361b","name":"","property":"payload","action":"","pretty":false,"x":985.7023696899414,"y":145.42860412597656,"wires":[[]]},{"id":"1965c3aa.35ab8c","type":"mqtt out","z":"e7d48de3.0e636","name":"","topic":"sedayu_bengkeltekno","qos":"2","retain":"","broker":"4eae3a13.670c84","x":900,"y":1140,"wires":[]},{"id":"8acf83b.3a3938","type":"function","z":"e7d48de3.0e636","name":"check online","func":"if(Number.isInteger(msg.payload)===true){\n    flow.set('connection',true);\n    msg.payload=\"connection ok\"\n}\nelse{\n    flow.set('connection',false);\n    msg.payload=\"connection problem!\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":426.35708236694336,"y":998.8274192810059,"wires":[["dad7a98e.f87738"]]},{"id":"dad7a98e.f87738","type":"debug","z":"e7d48de3.0e636","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":602.6428022384644,"y":1064.6846361160278,"wires":[]},{"id":"3fc00bf4.430d54","type":"ping","z":"e7d48de3.0e636","name":"","host":"www.google.com","timer":"60","inputs":0,"x":243.49990463256836,"y":1063.2560138702393,"wires":[["8acf83b.3a3938","dad7a98e.f87738"]]},{"id":"ec35ae12.58c82","type":"modbus-read","z":"e7d48de3.0e636","name":"modberry Arus ","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"2999","quantity":"8","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"424187e.54ccd78","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":232.7664794921875,"y":531.8380918502808,"wires":[[],["bfb29b1.11cff68"]]},{"id":"bfb29b1.11cff68","type":"function","z":"e7d48de3.0e636","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload.buffer;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i < 16); //2 buffer byte per var\n\nmsg.payload = {\n    \"i1\":a[0],\n    \"i2\":a[1],\n    \"i3\":a[2],\n    \"iavg\":a[3]\n};\n\nflow.set(\"i1\", a[0]);\nflow.set(\"i2\", a[1]);\nflow.set(\"i3\", a[2]);\nflow.set(\"iavg\", a[3]);\n\nreturn msg;","outputs":1,"noerr":0,"x":465.16659927368164,"y":538.6666870117188,"wires":[["1904dbfe.7b5a94"]]},{"id":"1904dbfe.7b5a94","type":"debug","z":"e7d48de3.0e636","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":712.3268814086914,"y":544.8341846466064,"wires":[]},{"id":"a4a7a76d.0c1108","type":"modbus-read","z":"e7d48de3.0e636","name":"modberry Tegangan","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"3019","quantity":"12","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"424187e.54ccd78","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":240.76649856567383,"y":580.8380918502808,"wires":[[],["3d477f02.8b735"]]},{"id":"3d477f02.8b735","type":"function","z":"e7d48de3.0e636","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload.buffer;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i < 24); //2 buffer byte per var\n\nmsg.payload = {\n    \"v12\":a[0],\n    \"v23\":a[1],\n    \"v13\":a[2],\n    \"vavg\":a[3],\n    \"v1n\":a[4],\n    \"v2n\":a[5],\n    //\"v3n\":a[6],\n    //\"vlnavg\":a[7]\n};\n\nflow.set(\"v12\", a[0]);\nflow.set(\"v23\", a[1]);\nflow.set(\"v13\", a[2]);\nflow.set(\"vavg\", a[3]);\nflow.set(\"v1n\", a[4]);\nflow.set(\"v2n\", a[5]);\n//flow.set(\"v3n\", a[6]);\n//flow.set(\"vlnavg\", a[7]);\n\nreturn msg;","outputs":1,"noerr":0,"x":456.1665954589844,"y":585.6666860580444,"wires":[["f4d7deda.79bcb"]]},{"id":"f4d7deda.79bcb","type":"debug","z":"e7d48de3.0e636","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":705.3269081115723,"y":590.8341932296753,"wires":[]},{"id":"fd4ba269.b982e","type":"modbus-read","z":"e7d48de3.0e636","name":"modberry Frekuensi","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"3109","quantity":"4","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"424187e.54ccd78","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":246.18399047851562,"y":684.6770868301392,"wires":[[],["df2b71ad.8ee86"]]},{"id":"df2b71ad.8ee86","type":"function","z":"e7d48de3.0e636","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload.buffer;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i <4); //2 buffer byte per var\n\nmsg.payload = {\n    \"f\":a[0]\n};\n\nflow.set(\"f\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":468.5840950012207,"y":684.5057001113892,"wires":[["632c3283.36b44c"]]},{"id":"632c3283.36b44c","type":"debug","z":"e7d48de3.0e636","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":713.7444000244141,"y":692.6731939315796,"wires":[]},{"id":"4f222fe6.fb437","type":"modbus-read","z":"e7d48de3.0e636","name":"modberry Daya","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"3053","quantity":"8","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"424187e.54ccd78","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":236.1839828491211,"y":729.6770505905151,"wires":[[],["203a5019.487c8"]]},{"id":"203a5019.487c8","type":"function","z":"e7d48de3.0e636","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload.buffer;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i <16); //2 buffer byte per var\n\nmsg.payload = {\n    \"p1\":a[0],\n    \"p2\":a[1],\n    \"p3\":a[2],\n    \"ptot\":a[3],\n\n};\n\nflow.set(\"p1\", a[0]);\nflow.set(\"p2\", a[1]);\nflow.set(\"p3\", a[2]);\nflow.set(\"ptot\", a[3]);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":465.5840873718262,"y":731.5056581497192,"wires":[["cfd2b541.c627b8"]]},{"id":"cfd2b541.c627b8","type":"debug","z":"e7d48de3.0e636","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710.7443923950195,"y":739.6731519699097,"wires":[]},{"id":"153185f6.9cfd4a","type":"function","z":"e7d48de3.0e636","name":"payload","func":"//msg.secret = \"12312341243\";\nmsg.payload = {\n    \"datetime\":Number(msg.payload/1000).toFixed(0),\n    \"i1\":flow.get(\"i1\"),\n    \"i2\":flow.get(\"i2\"),\n    \"i3\":flow.get(\"i3\"),\n    \"itot\":flow.get(\"itot\"),\n    \"v12\":flow.get(\"v12\"),\n    \"v23\":flow.get(\"v23\"),\n    \"v13\":flow.get(\"v13\"),\n    \"vavg\":flow.get(\"vavg\"),\n    \"v1n\":flow.get(\"v1n\"),\n    \"v2n\":flow.get(\"v2n\"),\n    \"v3n\":flow.get(\"v3n\"),\n    \"vlnavg\":flow.get(\"vlnavg\"),\n    \"f\":flow.get(\"f\"),\n    \"p1\":flow.get(\"p1\"),\n    \"p2\":flow.get(\"p2\"),\n    \"p3\":flow.get(\"p3\"),\n    \"ptot\":flow.get(\"ptot\"),\n    \"qtot\":flow.get(\"qtot\"),\n    \"stot\":flow.get(\"stot\"),\n    \"pf\":flow.get(\"pf\"),\n    \"eimport\":flow.get(\"eimport\"),\n    \"eexport\":flow.get(\"eexport\")\n    }\nreturn msg;","outputs":1,"noerr":0,"x":474.7499885559082,"y":1141.3437476158142,"wires":[["1980e0b4.d3e3ff","9bf5168e.8a8ed8"]]},{"id":"5547f71f.f40db8","type":"inject","z":"e7d48de3.0e636","name":"2min","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":false,"onceDelay":0.1,"x":281.4999656677246,"y":1141.8437547683716,"wires":[["153185f6.9cfd4a"]]},{"id":"1980e0b4.d3e3ff","type":"debug","z":"e7d48de3.0e636","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":663.9999923706055,"y":1231.9999990463257,"wires":[]},{"id":"dcbb4721.1c3288","type":"modbus-read","z":"e7d48de3.0e636","name":"modberry powerfactor","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"3083","quantity":"8","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"424187e.54ccd78","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":250.90122604370117,"y":874.5448389053345,"wires":[[],["5f856736.1dbea8"]]},{"id":"5f856736.1dbea8","type":"function","z":"e7d48de3.0e636","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload.buffer;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i <16); //2 buffer byte per var\n\nmsg.payload = {\n    \"pf\":a[0],\n};\nflow.set(\"pf\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":473.15845489501953,"y":876.3734312057495,"wires":[["e6c43ecc.0dfa6"]]},{"id":"e6c43ecc.0dfa6","type":"debug","z":"e7d48de3.0e636","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":705.4616355895996,"y":884.540940284729,"wires":[]},{"id":"bc69a60a.94dd28","type":"modbus-read","z":"e7d48de3.0e636","name":"modberry energy","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"3203","quantity":"8","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"424187e.54ccd78","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":230.1861343383789,"y":922.6703863143921,"wires":[["b07e2ff6.93803"],[]]},{"id":"f736535b.40977","type":"debug","z":"e7d48de3.0e636","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":716.7465209960938,"y":926.6664991378784,"wires":[]},{"id":"b07e2ff6.93803","type":"function","z":"e7d48de3.0e636","name":"ReadFloat","func":"var bit1 =msg.payload[0]*18446744073709600000;\nvar bit2 =msg.payload[1]*4294967296;\nvar bit3 =msg.payload[2]*65536;\nvar bit4 =msg.payload[3];\nvar eimport=bit1+bit2+bit3+bit4;\nvar bit5 =msg.payload[4]*18446744073709600000;\nvar bit6 =msg.payload[5]*4294967296;\nvar bit7 =msg.payload[6]*65536;\nvar bit8 =msg.payload[7];\nvar eexport=bit5+bit6+bit7+bit8;\nmsg.payload = {\n    \"eimport\":eimport,\n    \"eexport\":eexport\n};\nflow.set(\"eimport\", eimport);\nflow.set(\"eexport\", eexport);\nreturn msg;","outputs":1,"noerr":0,"x":467.1808433532715,"y":917.6721754074097,"wires":[["f736535b.40977"]]},{"id":"69220a5d.6b88e4","type":"modbus-read","z":"e7d48de3.0e636","name":"modberry Tegangan2","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"3031","quantity":"12","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"424187e.54ccd78","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":252.18081665039062,"y":632.6723384857178,"wires":[[],["acfa5a8.1d09ca8"]]},{"id":"acfa5a8.1d09ca8","type":"function","z":"e7d48de3.0e636","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload.buffer;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i < 24); //2 buffer byte per var\n\nmsg.payload = {\n    \"v3n\":a[0],\n    \"vlnavg\":a[2],\n\n};\n\nflow.set(\"v3n\", a[0]);\nflow.set(\"vlnavg\", a[2]);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":481.58093643188477,"y":635.5009460449219,"wires":[["2f8d9099.908f9"]]},{"id":"2f8d9099.908f9","type":"debug","z":"e7d48de3.0e636","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":723.7412185668945,"y":634.66845703125,"wires":[]},{"id":"53e152ed.f3099c","type":"modbus-read","z":"e7d48de3.0e636","name":"modberry Daya Reaktif","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"3067","quantity":"4","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"424187e.54ccd78","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":253.1807861328125,"y":777.6723108291626,"wires":[[],["5bb327a7.c5ece8"]]},{"id":"6ea6f826.2561e8","type":"debug","z":"e7d48de3.0e636","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":707.7411975860596,"y":790.6684188842773,"wires":[]},{"id":"16004657.79e3fa","type":"modbus-read","z":"e7d48de3.0e636","name":"modberry Daya Semu","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"3075","quantity":"4","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"424187e.54ccd78","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":253.1807861328125,"y":825.6722927093506,"wires":[[],["87551e86.04074"]]},{"id":"9e23f5cd.6ccbd8","type":"debug","z":"e7d48de3.0e636","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":707.7411975860596,"y":838.6684007644653,"wires":[]},{"id":"5bb327a7.c5ece8","type":"function","z":"e7d48de3.0e636","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload.buffer;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i <4); //2 buffer byte per var\n\nmsg.payload = {\n    \"qtot\":a[0]\n};\n\nflow.set(\"qtot\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":468.1808280944824,"y":778.6723184585571,"wires":[["6ea6f826.2561e8"]]},{"id":"87551e86.04074","type":"function","z":"e7d48de3.0e636","name":"ReadFloat","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload.buffer;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i <4); //2 buffer byte per var\n\nmsg.payload = {\n    \"stot\":a[0]\n};\n\nflow.set(\"stot\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":466.1808280944824,"y":826.6723003387451,"wires":[["9e23f5cd.6ccbd8"]]},{"id":"9bf5168e.8a8ed8","type":"subflow:e5520d9f.1361b","z":"e7d48de3.0e636","name":"","env":[],"x":645.4506607055664,"y":1141.101318359375,"wires":[["1965c3aa.35ab8c","72c1438.10f87bc"]]},{"id":"72c1438.10f87bc","type":"debug","z":"e7d48de3.0e636","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":848.1808166503906,"y":1065.3996572494507,"wires":[]},{"id":"b4820aff.a80ee8","type":"mqtt out","z":"48948ff.350507","name":"","topic":"SEI016_GOP6","qos":"2","retain":"","broker":"33579c22.083e14","x":780,"y":760,"wires":[]},{"id":"aafb9f0d.6139a","type":"function","z":"48948ff.350507","name":"payload","func":"//msg.secret = \"12312341243\";\nmsg.payload = {\n    \"datetime\":Number(msg.payload/1000).toFixed(0),\n    \"i1\":flow.get(\"i1\"),\n    \"i2\":flow.get(\"i2\"),\n    \"i3\":flow.get(\"i3\"),\n    \"itot\":flow.get(\"itot\"),\n    \"v12\":flow.get(\"v12\"),\n    \"v23\":flow.get(\"v23\"),\n    \"v13\":flow.get(\"v13\"),\n    \"vavg\":flow.get(\"vavg\"),\n    \"v1n\":flow.get(\"v1n\"),\n    \"v2n\":flow.get(\"v2n\"),\n    \"v3n\":flow.get(\"v3n\"),\n    \"vlnavg\":flow.get(\"vlnavg\"),\n    \"f\":flow.get(\"f\"),\n    \"p1\":flow.get(\"p1\"),\n    \"p2\":flow.get(\"p2\"),\n    \"p3\":flow.get(\"p3\"),\n    \"ptot\":flow.get(\"ptot\"),\n    \"qtot\":flow.get(\"qtot\"),\n    \"stot\":flow.get(\"stot\"),\n    \"pf\":flow.get(\"pf\"),\n    \"eimport\":flow.get(\"eimport\"),\n    \"eexport\":flow.get(\"eexport\")\n    }\nreturn msg;","outputs":1,"noerr":0,"x":474.7499885559082,"y":761.3437476158142,"wires":[["b4820aff.a80ee8","d7ef9648.746db8"]]},{"id":"679ac8c9.7ee4c8","type":"inject","z":"48948ff.350507","name":"2min","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":false,"onceDelay":0.1,"x":281.4999656677246,"y":761.8437547683716,"wires":[["aafb9f0d.6139a"]]},{"id":"1d3656fd.e7dc59","type":"subflow:e5520d9f.1361b","z":"48948ff.350507","name":"","env":[],"x":640,"y":680,"wires":[[]]},{"id":"cf343c9a.57c73","type":"debug","z":"48948ff.350507","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":280,"wires":[]},{"id":"b39142f2.7bb4b","type":"modbusSerial in","z":"48948ff.350507","port":"d5c1c615.c46798","slaves":"1","start":"3019","count":"12","dtype":"holding","period":"3","topic":"","name":"","x":340,"y":180,"wires":[["3334b29f.f0b05e"]]},{"id":"3334b29f.f0b05e","type":"function","z":"48948ff.350507","name":"Tegangan","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i < 24); //2 buffer byte per var\n\nmsg.payload = {\n    \"v12\":a[0],\n    \"v23\":a[1],\n    \"v13\":a[2],\n    \"vavg\":a[3],\n    \"v1n\":a[4],\n    \"v2n\":a[5],\n    //\"v3n\":a[6],\n    //\"vlnavg\":a[7]\n};\n\nflow.set(\"v12\", a[0]);\nflow.set(\"v23\", a[1]);\nflow.set(\"v13\", a[2]);\nflow.set(\"vavg\", a[3]);\nflow.set(\"v1n\", a[4]);\nflow.set(\"v2n\", a[5]);\n//flow.set(\"v3n\", a[6]);\n//flow.set(\"vlnavg\", a[7]);\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":180,"wires":[["cf343c9a.57c73"]]},{"id":"e9867ad2.5e0f48","type":"modbusSerial in","z":"48948ff.350507","port":"d5c1c615.c46798","slaves":"1","start":"3109","count":"4","dtype":"holding","period":"3","topic":"","name":"","x":340,"y":220,"wires":[["1e4a598a.d3aee6"]]},{"id":"1e4a598a.d3aee6","type":"function","z":"48948ff.350507","name":"Frequency","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i <4); //2 buffer byte per var\n\nmsg.payload = {\n    \"f\":a[0]\n};\n\nflow.set(\"f\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["cf343c9a.57c73"]]},{"id":"b5a04f2d.9a3d5","type":"modbusSerial in","z":"48948ff.350507","port":"d5c1c615.c46798","slaves":"1","start":"3104","count":"4","dtype":"holding","period":"3","topic":"","name":"","x":350,"y":270,"wires":[[]]},{"id":"bc2f81ce.95e73","type":"modbusSerial in","z":"48948ff.350507","port":"d5c1c615.c46798","slaves":"1","start":"2999","count":"8","dtype":"holding","period":"3","topic":"","name":"","x":350,"y":270,"wires":[["ff8a4f5a.0695a"]]},{"id":"ff8a4f5a.0695a","type":"function","z":"48948ff.350507","name":"Arus","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i < 16); //2 buffer byte per var\n\nmsg.payload = {\n    \"i1\":a[0],\n    \"i2\":a[1],\n    \"i3\":a[2],\n    \"iavg\":a[3]\n};\n\nflow.set(\"i1\", a[0]);\nflow.set(\"i2\", a[1]);\nflow.set(\"i3\", a[2]);\nflow.set(\"iavg\", a[3]);\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":270,"wires":[["cf343c9a.57c73"]]},{"id":"cd814420.4d8088","type":"modbusSerial in","z":"48948ff.350507","port":"d5c1c615.c46798","slaves":"1","start":"3053","count":"8","dtype":"holding","period":"3","topic":"","name":"","x":349,"y":310,"wires":[["75a9ec2a.cf7284"]]},{"id":"75a9ec2a.cf7284","type":"function","z":"48948ff.350507","name":"Daya","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i <16); //2 buffer byte per var\n\nmsg.payload = {\n    \"p1\":a[0],\n    \"p2\":a[1],\n    \"p3\":a[2],\n    \"ptot\":a[3],\n\n};\n\nflow.set(\"p1\", a[0]);\nflow.set(\"p2\", a[1]);\nflow.set(\"p3\", a[2]);\nflow.set(\"ptot\", a[3]);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":519,"y":310,"wires":[["cf343c9a.57c73"]]},{"id":"e9bee3ca.28dd6","type":"modbusSerial in","z":"48948ff.350507","port":"d5c1c615.c46798","slaves":"1","start":"3067","count":"4","dtype":"holding","period":"3","topic":"","name":"","x":354.199951171875,"y":358.6000061035156,"wires":[["22bcc565.1595ba"]]},{"id":"22bcc565.1595ba","type":"function","z":"48948ff.350507","name":"Daya Reaktif","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i <4); //2 buffer byte per var\n\nmsg.payload = {\n    \"qtot\":a[0]\n};\n\nflow.set(\"qtot\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":544.199951171875,"y":358.6000061035156,"wires":[["cf343c9a.57c73"]]},{"id":"636de.be9ed9224","type":"modbusSerial in","z":"48948ff.350507","port":"d5c1c615.c46798","slaves":"1","start":"3075","count":"4","dtype":"holding","period":"3","topic":"","name":"","x":358,"y":410,"wires":[["45d1a28e.aa827c"]]},{"id":"45d1a28e.aa827c","type":"function","z":"48948ff.350507","name":"Daya Semu","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i <4); //2 buffer byte per var\n\nmsg.payload = {\n    \"stot\":a[0]\n};\n\nflow.set(\"stot\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":548,"y":410,"wires":[["cf343c9a.57c73"]]},{"id":"2a7ad0e0.30521","type":"modbusSerial in","z":"48948ff.350507","port":"d5c1c615.c46798","slaves":"1","start":"3083","count":"8","dtype":"holding","period":"3","topic":"","name":"","x":363.199951171875,"y":458.6000061035156,"wires":[["26a5b092.f7448"]]},{"id":"26a5b092.f7448","type":"function","z":"48948ff.350507","name":"Power Factor","func":"//Tidak perlu ada modifikasi disini\n\nvar x = msg.payload;\nvar i = 0;\nvar a = [];\ndo {\n    a[i/4] = Number(x.readFloatBE(i).toFixed(2));\n    i=i+4;\n}\nwhile (i <16); //2 buffer byte per var\n\nmsg.payload = {\n    \"pf\":a[0],\n};\nflow.set(\"pf\", a[0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":553.199951171875,"y":458.6000061035156,"wires":[["cf343c9a.57c73"]]},{"id":"7063ef30.db607","type":"modbusSerial in","z":"48948ff.350507","port":"d5c1c615.c46798","slaves":"1","start":"3203","count":"8","dtype":"holding","period":"3","topic":"","name":"","x":358,"y":510,"wires":[["7787b392.980d3c"]]},{"id":"7787b392.980d3c","type":"function","z":"48948ff.350507","name":"Energy","func":"var bit1 =msg.payload[0]*18446744073709600000;\nvar bit2 =msg.payload[1]*4294967296;\nvar bit3 =msg.payload[2]*65536;\nvar bit4 =msg.payload[3];\nvar eimport=bit1+bit2+bit3+bit4;\nvar bit5 =msg.payload[4]*18446744073709600000;\nvar bit6 =msg.payload[5]*4294967296;\nvar bit7 =msg.payload[6]*65536;\nvar bit8 =msg.payload[7];\nvar eexport=bit5+bit6+bit7+bit8;\nmsg.payload = {\n    \"eimport\":eimport,\n    \"eexport\":eexport\n};\nflow.set(\"eimport\", eimport);\nflow.set(\"eexport\", eexport);\nreturn msg;","outputs":1,"noerr":0,"x":538,"y":510,"wires":[["cf343c9a.57c73"]]},{"id":"d7ef9648.746db8","type":"debug","z":"48948ff.350507","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":900,"wires":[]}]